body {
    background-color: white;
    font-family: Arial, sans-serif;
    margin: 0;
    padding: 0;
}

/* Centering and Styling Headings */
.center {
    text-align: center;
    margin-top: 0;
}

.top {
    text-align: center;
    font-size: 50px;
    margin-bottom: 0;
}

/* Flexbox Container */
.container {
    display: flex;                   /* Enable Flexbox layout */
    justify-content: space-between;  /* Evenly distribute space between the quadrants */
    align-items: flex-start;         /* Align items to the top */
    padding: 20px;                   /* Padding around the container */
    background-color: #ffffff;       /* Optional: Background color of the container */
}

/* Quadrants Styling */
.left-box, .center-box, .right-box {
    background-color: white;         /* Background color of the boxes */
    padding: 15px;                   /* Space inside the boxes */
    margin: 0;                       /* Remove default margin */
    border: 1px solid #ccc;          /* Light border around the boxes */
    overflow: auto;                  /* Handle overflow */
}

/* Adjusted Quadrant Sizes */
.left-box {
    width: 20%;  /* Set the width of the left container */
    height: 500px;  /* Set the height of the right container */
}

.center-box {
    width: 45%;  /* Set the width of the center container */
    height: 500px; /* Set the height of the right container */
}

.right-box {
    width: 20%;  /* Set the width of the right container */
    height: 500px;  /* Set the height of the right container */
}


/* Custom Font */
.custom-font {
    font-family: 'Moderustic', sans-serif;
}

.center {
    text-align: center;
    margin-top: 0;
}

/* Default link styles */
a {
    color: black; /* Change to your desired color */
    text-decoration: none; /* Remove underline */
}

/* Visited link styles */
a:visited {
    color: black; /* Change to your desired color */
}

/* Hover link styles */
a:hover {
    color: gray; /* Change to your desired color for hover state */
    text-decoration: underline; /* Optional: Add underline on hover */
}

/* Active link styles */
a:active {
    color: black; /* Change to your desired color for active state */
}
