body {
    background-color: white;
}

.center {
    text-align: center;
    margin-top: 0%;
}

.top {
    text-align: center;
    font-size: 50px;
    margin-bottom: 0;
}

.box {
    width: 40%;   /* Set the width of the box */
    height: 500px;      /* Set the heigh of the box */
    background-color: whitesmoke;       /* Background color of the box */
    padding: 10px;      /* Space inside the box, between content and border */
    margin: 0 auto;       /* Space outside the box. */
    border: 0px solid black;
    overflow: auto;
}

.custom-font {
    font-family: 'Moderustic' sans-serif;
}