.logo {
    display: flex;
    align-items: center;
    height: 100%;
}

.logo a {
    display: flex;
    align-items: center;
    height: 100%;
    padding: 0 15px;
}

.logo-img {
    max-width: 150px; /* Adjust this value to change the logo size */
    max-height: 50px; /* Ensures the logo doesn't get too tall */
    width: auto;
    height: auto;
    object-fit: contain; /* Maintains aspect ratio */
}
